.container_12{
	margin-top: 10px;
	margin-bottom: 10px;

}
.navigation{
	margin-top: 50px;
}
.navigation ul li{
	display:  inline;
	list-style: none;
}
.navigation ul li a{
	text-decoration: none;
	font-size: 22px;
}
.search{
	margin-top: 50px;

}
.sidebar img{
	width: 150 px;
	height: 150 px;
}
.sidebar table td{
	margin-top: 40px;
}
.article1 ul li{
display: inline;
list-style: none;

margin-left: 0px;

}
.article2 ul li{
display: inline;
list-style: none;

margin-left: 0px;

}
.article3 ul li{
display: inline;
list-style: none;

margin-left: 0px;

}

.allblack h1{
	color: #fff;
}
.allblack h2{
	color: #fff;
}
.allblack h3{
	color: #fff;
}
.allblack span{
	color: #fff;
}
.allblack a{
	color: #fff;
}
.allblack li{
	color: #fff;
}


.article4 li{
	list-style: none;
	text-decoration: none;
	margin: 0;
	padding: 0;
}
.article4 li a{
	text-decoration: none;
}

.crunch{
	font-size:135;
}
.network{
	font-size:22;
}


.bottom li{
display: inline;
list-style: none;
margin: 5px 0;
padding: 5px;
}

.bottom li a{
	text-decoration: none;
}
.bottom li a:hover{
	text-decoration: underline;
}
.allblack{
	background-color: black;
	text-decoration-color: white;
}

.author{
	color: #089e00;
}
.allblack hr{
	size: 5px;
}
.left{
	margin-left: 10px;
}
.sidebarimage{
	margin-bottom: 10px;
}

.footer table td{
	padding-right: 5px;
	margin-right:5px;
	padding-bottom: 5px;
}
.crunch{
	width:300px;
}
