
.logo{
	margin-top: 30px;
}
.navigation{
	margin-top: 50px;
}
.navigation ul li{
	display:  inline;
	list-style: none;
}
.navigation ul li a{
	text-decoration: none;
	font-size: 22px;
}
.search{
	margin-top: 60px;

}
.videotech{
	width: 500px;
}
.sidebar img{
	width: 150 px;
	height: 150 px;
}
.sidebar table td{
	margin-top: 40px;
}
.article ul li{
display: inline;
list-style: none;
margin-left: 0px;
}

.allblack h1,.allblack h2,.allblack h3,.allblack h5,.allblack span,.allblack a,.allblack li{
	color: #fff;
}



.article4 li{
	list-style: none;
	text-decoration: none;
	margin: 0;
	padding: 0;
}
.article4 li a{
	text-decoration: none;
}

.crunch{
	font-size:135;
}
.network{
	font-size:22;
}


.bottom li{
display: inline;
list-style: none;
margin: 5px 0;
padding: 5px;
}
.allblack{
	background-color: black;
	text-decoration-color: white;
}

.bottom li a{
	text-decoration: none;
}
.bottom li a:hover{
	text-decoration: underline;
}


.author{
	color: #089e00;
}
.allblack hr{
	size: 5px;
}
.left{
	margin-left: 10px;
}
.sidebarimage{
	margin-bottom: 10px;
}

.footer table td{
	padding-right: 5px;
	margin-right:5px;
	padding-bottom: 5px;
}
.crunch{
	width:300px;
}

.endlast{
	margin-top: 50px;

}